    <section class="features">
      <div class="container">
       <div class="block-title">
        <h2 class="title features__title">Преимущества</h2>
        <span class="title-shadow title-shadow_grey features__shadow">Преимущества</span>
       </div>
        <div class="features__wrapper features__wrapper_top">
          <div class="features__item">
            <p class="features__img"><img src="img/quality.png" alt=""></p>
            <p class="features__text">Высокое качество продукции</p>
          </div>
          <div class="features__item">
            <p class="features__img"><img src="img/delivery-truck.png" alt=""></p>
            <p class="features__text">Доставка</p>
          </div>
          <div class="features__item">
            <p class="features__img"><img src="img/012-percent.png" alt=""></p>
            <p class="features__text">Скидка при единоразовой оплате</p>
          </div>
          <div class="features__item">
            <p class="features__img"><img src="img/time.png" alt=""></p>
            <p class="features__text">Рассрочка и кредит</p>
          </div>
          <div class="features__item">
            <p class="features__img"><img src="img/003-wallet.png" alt=""></p>
            <p class="features__text">Наличный и безналичный расчет</p>
          </div>
        </div>
        
        <div class="features__wrapper features__wrapper_bottom">
          <div class="features__item">
            <p class="features__img"><img src="img/portfolio.png" alt=""></p>
            <p class="features__text">Работаем как с физическими, так и с юридическими лицами</p>
          </div>
          <div class="features__item">
            <p class="features__img"><img src="img/user.png" alt=""></p>
            <p class="features__text">Индивидуальный подход к каждому покупателю</p>
          </div>
          <div class="features__item">
            <p class="features__img"><img src="img/011-label.png" alt=""></p>
            <p class="features__text">Различный ценовой уровень: от эконом до премиум</p>
          </div>
          <div class="features__item">
            <p class="features__img"><img src="img/007-rotate.png" alt=""></p>
            <p class="features__text">Постоянное расширение ассортиментного ряда</p>
          </div>
          <div class="features__item">
            <p class="features__img"><img src="img/008-drill.png" alt=""></p>
            <p class="features__text">Помощь в сборке  и установке мебели профессионалами</p>
          </div>
          <div class="features__item">
            <p class="features__img"><img src="img/010-shield.png" alt=""></p>
            <p class="features__text">Гарантия на мебель в течение 18 месяцев со дня покупки</p>
          </div>
        </div>
      </div>
    </section>