   <footer class="footer container">
     <div class="footer__block footer__category">
       <ul class="footer__list">
         <li class="footer__item"><a href="" class="footer__link footer__link_bold">Все товары</a></li>
         <ul class="footer__list dropdown-menu">
         <li class="footer__item"><a href="" class="footer__link">Мягкая мебель</a></li>
         <li class="footer__item"><a href="" class="footer__link">Шкафы, комоды, стеллажи</a></li>
         <li class="footer__item"><a href="" class="footer__link">Кровати</a></li>
         <li class="footer__item"><a href="" class="footer__link">Матрасы</a></li>
         <li class="footer__item"><a href="" class="footer__link">Столы</a></li>
         <li class="footer__item"><a href="" class="footer__link">Стулья</a></li>
         <li class="footer__item"><a href="" class="footer__link">Текстиль</a></li>
         <li class="footer__item"><a href="" class="footer__link">Кухни и бытовая техника</a></li>
         </ul>
       </ul>
     </div>
     <div class="footer__block footer__sections">
       <ul class="footer__list">
         <li class="footer__item"><a href="" class="footer__link footer__link_bold">Комнаты</a></li>
         <ul class="footer__list dropdown-menu">
         <li class="footer__item"><a href="" class="footer__link">Спальни</a></li>
         <li class="footer__item"><a href="" class="footer__link">Гостиные</a></li>
         <li class="footer__item"><a href="" class="footer__link">Кухни</a></li>
         <li class="footer__item"><a href="" class="footer__link">Детские</a></li>
         <li class="footer__item"><a href="" class="footer__link">Прихожие</a></li>
         </ul>
       </ul>
     </div>
     <div class="footer__block footer__menu">
       <ul class="footer__list">
         <li class="footer__item"><a href="" class="footer__link">Фурнитура</a></li>
         <li class="footer__item"><a href="" class="footer__link">Производители</a></li>
         <li class="footer__item"><a href="" class="footer__link">Услуги</a></li>
         <li class="footer__item"><a href="" class="footer__link">Оплата и доставка</a></li>
         <li class="footer__item"><a href="" class="footer__link">Правила потребителя</a></li>
         <li class="footer__item"><a href="" class="footer__link">Информация</a></li>
       </ul>
     </div>
     <div class="footer__block footer__info">
       <div class="block-phone">
         <ul class="block-phone__wrapper">
           <li class="block-phone__list">
             <a href="tel:+375257231188" class="block-phone__number phone-number phone-number_life">+375 (25) <span class="phone-number_bold">723-11-88</span></a>
           </li>
           <li class="block-phone__list">
             <a href="tel:+375336008476" class="block-phone__number phone-number phone-number_mts">+375 (33) <span class="phone-number_bold">600-84-76</span></a>
           </li>
           <li class="block-phone__list">
             <a href="tel:+3750234545786" class="block-phone__number phone-number phone-number_static">+375 (02345) <span class="phone-number_bold">4-57-86</span></a>
           </li>
         </ul>
        </div>
        <div class="block-location">
         <p class="block-location__text">г. Калинковичи,<br> ул. Октябрьская, 8</p>
         <a href="" class="block-location__link">Показать на карте</a>
        </div>
        <div class="block-email">
         <p class=" block-email__text">
           <a class="block-email__maillink" href="mailto:info@furmebel.by">info@furmebel.by</a>
         </p> 
         <a href="" class="block-email__link">Написать нам</a>
        </div>
        <p class="footer__copyright">© 2018, ИП Ревяко С.В. УНП 491302279</p>
        <div class="footer__dev">
         <a href="" class="footer__dev-link">
          <p class="footer__dev-logo"><img src="/img/dev_logo.png" width="59" height="61"alt=""></p>
          <p class="footer__dev-text">Разработка сайта:<br> веб-студия "Пингвин"</p>
          </a>
        </div>
     </div>
   </footer>
  <script src="js/jquery-3.3.1.min.js"></script> 
  <script src="js/jquery-migrate-1.4.1.min.js"></script>
  <script src="js/slick.min.js"></script>  
  <script src="js/main.js"></script>  
  </body>
</html>