    <section class="form">
       <div class="container">
         <form action="" class="form__wrapper">
           <h2 class="form__title">Не можете определиться с выбором? Мы подскажем</h2>
           <p class="form__text">Оставьте ваш номер телефона, и мы перезвоним вам в рабочее время, чтобы ответить на все ваши вопросы</p>
           <div class="form__elements">
             <input class="form__input form__name" type="name" placeholder="Ваше имя">
             <input class="form__input form_email" type="email" placeholder="Email">
             <span>или</span>
             <input class="form__input form_phone" type="phone" placeholder="Телефон">
             <button type="submit" class="button form__button">Отправить</button>
           </div>
         </form>
       </div>
     </section>