<html>
  <head>
    <meta charset="utf-8">
    <title>New page</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="css/bundle.css" rel="stylesheet">
  </head>
  <body>
  <header class="header">
   <div class="wrapper wrapper-top">
     <div class="container">
       <section class="header__top-menu top-menu">
         <ul class="top-menu__list">
           <li class="top-menu__item"><a href="" class="top-menu__link">Главная</a></li>
           <li class="top-menu__item"><a href="" class="top-menu__link">О нас</a></li>
           <li class="top-menu__item"><a href="" class="top-menu__link top-menu__link_dropdown">Услуги <span class="dropdown-arrow"></span></a></li>
           <li class="top-menu__item"><a href="" class="top-menu__link">Оплата и доставка</a></li>
           <li class="top-menu__item"><a href="" class="top-menu__link">Отзывы</a></li>
           <li class="top-menu__item"><a href="" class="top-menu__link">Правила потребителя</a></li>
           <li class="top-menu__item"><a href="" class="top-menu__link">Информация</a></li>
           <li class="top-menu__item"><a href="" class="top-menu__link">Контакты</a></li>
         </ul>
       </section>
     </div>
   </div>
   <div class="container">
     <section class="header__info header-block">
       <div class="header-block__section block-logo"><a href="" class="block-logo__image"><img src="./img/logo.png" alt=""></a></div>
       <div class="header-block__section block-location">
         <p class="block-location__text">г. Калинковичи,<br> ул. Октябрьская, 8</p>
         <a href="" class="block-location__link">Показать на карте</a>
       </div>
       <div class="header-block__section block-email">
         <p class="header-block__text block-email__text">
           <a class="block-email__maillink" href="mailto:info@furmebel.by">info@furmebel.by</a>
         </p> 
         <a href="" class="block-email__link">Написать нам</a>
       </div>
       <div class="header-block__section block-phone">
         <ul class="block-phone__wrapper">
           <li class="block-phone__list">
             <a href="tel:+375257231188" class="block-phone__number phone-number phone-number_life">+375(25) <span class="phone-number_bold">723-11-88</span></a>
           </li>
           <li class="block-phone__list">
             <a href="tel:+375336008476" class="block-phone__number phone-number phone-number_mts">+375(33) <span class="phone-number_bold">600-84-76</span></a>
           </li>
           <li class="block-phone__list">
             <a href="tel:+3750234545786" class="block-phone__number phone-number phone-number_static">+375(02345) <span class="phone-number_bold">4-57-86</span></a>
           </li>
         </ul>
       </div>
       <div class="header-block__section header-callbutton">
         <button class="button  header-callbutton__callback ">Заказать звонок</button>
       </div>
     </section>
   </div>
   <div class="wrapper wrapper-bottom">
     <div class="container container-menu">
       <section class="header-menu menu">
          <div class="mobile-icon">
            <span class="mobile-icon__line"></span>
            <span class="mobile-icon__line"></span>
            <span class="mobile-icon__line"></span>
            <span class="mobile-icon__line"></span>
          </div>        
         <ul class="menu__list">
           <li class="menu__item">
             <a href="" class="menu__link menu__link_drop"><span class="menu__icon"><img src="/img/all_goods.png" alt=""></span>Все товары<span class="dropdown-arrow"></span></a>
             <ul class="menu__dropdown dropdown-menu">
               <ul class="dropdown-menu__column dropdown-menu__column_parent">
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Мягкая мебель<span class="dropdown-arrow"></span></a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Шкафы, комоды, стеллажи<span class="dropdown-arrow"></span></a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Кровати<span class="dropdown-arrow"></span></a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Матрасы<span class="dropdown-arrow"></span></a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Столы<span class="dropdown-arrow"></span></a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Стулья<span class="dropdown-arrow"></span></a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Текстиль<span class="dropdown-arrow"></span></a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Кухни и бытовая техника<span class="dropdown-arrow"></span></a></li>
               </ul>
               <ul class="dropdown-menu__column dropdown-menu__column_child">
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Шкафы-купе</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Шкафы распашные</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Шкафы в детскую</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Шкафы угловые</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Шкафы с фотопечатью</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Шкафы по индивидуальным размерам под заказ</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Книжные шкафы</a></li>
               </ul>
               
               <ul class="dropdown-menu__column dropdown-menu__column_child">
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Стенки</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Комоды</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Комоды в детскую</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Буфеты</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Стеллажи</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Стеллажи в детскую</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Серванты</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Настенные полки</a></li>
               </ul>
               
               <ul class="dropdown-menu__column dropdown-menu__column_child">
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Мебель под телевизор</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Тумбы прикроватные</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Туалетные столики</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Прихожие</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Вешалки</a></li>
                 <li class="dropdown-menu__item"><a href="" class="dropdown-menu__link">Обувницы</a></li>
               </ul>
             </ul>
           </li>
           <li class="menu__item">
             <a href="" class="menu__link menu__link_drop"><span class="menu__icon"><img src="/img/rooms.png" alt=""></span>Комнаты<span class="dropdown-arrow"></span></a>
             <ul class="menu__dropdown dropdown-menu dropdown-rooms">
               <ul class="dropdown-rooms__wrapper">
                 <li class="dropdown-rooms__items"><a href="" class="dropdown-rooms__link"><span class="dropdown-rooms__icon"><img src="img/001-bed.png" alt=""></span><span class="dropdown-rooms__text">Спальня</span></a></li> 
                 <li class="dropdown-rooms__items"><a href="" class="dropdown-rooms__link"><span class="dropdown-rooms__icon"><img src="img/002-tv-table.png" alt=""></span><span class="dropdown-rooms__text">Гостиная</span></a></li>
                 <li class="dropdown-rooms__items"><a href="" class="dropdown-rooms__link"><span class="dropdown-rooms__icon"><img src="img/004-refrigerator.png" alt=""></span><span class="dropdown-rooms__text">Кухня</span></a></li>
                 <li class="dropdown-rooms__items"><a href="" class="dropdown-rooms__link"><span class="dropdown-rooms__icon"><img src="img/003-teddy-bear.png" alt=""></span><span class="dropdown-rooms__text">Детская</span></a></li>
                 <li class="dropdown-rooms__items"><a href="" class="dropdown-rooms__link"><span class="dropdown-rooms__icon"><img src="img/005-hanger.png" alt=""></span><span class="dropdown-rooms__text">Прихожая</span></a></li>
               </ul>
             </ul>
           </li>
           <li class="menu__item">
             <a href="" class="menu__link"><span class="menu__icon"><img src="/img/screw.png" alt=""></span>Фурнитура</a>
             <ul class="menu__dropdown dropdown-menu"></ul>
           </li>
           <li class="menu__item">
             <a href="" class="menu__link menu__link_drop"><span class="menu__icon"><img src="/img/manufact.png" alt=""></span>Производители <span class="dropdown-arrow"></span></a>
             <ul class="menu__dropdown dropdown-menu"></ul>
           </li>
         </ul>
       </section>
       <div class="search">
         <input type="search" class="search__input" placeholder="Поиск по каталогу...">
       </div>
     </div>
   </div>
  </header> 