<section class="manufacturers">
  <div class="block-title">
        <h2 class="title 
        manufacturers__title">Производители</h2>
        <span class="title-shadow manufacturers__shadow">
          Производители
        </span> 
  </div>
  <div class="manufacturers__slider">
    <div class="manufacturers__logo"><a href="" class="manufacturers__link"><img src="img/mebelklass.png" alt=""></a></div>
    <div class="manufacturers__logo"><a href="" class="manufacturers__link"><img src="img/lerom.png" alt=""></a></div>
    <div class="manufacturers__logo"><a href="" class="manufacturers__link"><img src="img/svmebel.png" alt=""></a></div>
    <div class="manufacturers__logo"><a href="" class="manufacturers__link"><img src="img/mebelklass.png" alt=""></a></div>
    <div class="manufacturers__logo"><a href="" class="manufacturers__link"><img src="img/svmebel.png" alt=""></a></div>
    </div>
    <div class="button-wrapper">
      <a href="" class="button manufacturers__button button_more">Все производители</a>
    </div>
</section>