<section class="pagination">
  <ul class="pagination__wrapper">
    <li class="pagination__item"><a href="" class="pagination__link">В начало</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">Назад</a></li>
    <li class="pagination__item"><a href="" class="pagination__link pagination__link_active">1</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">2</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">4</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">5</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">Вперед</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">В конец</a></li>
  </ul>
</section>