<section class="pay slider slider_pay">
     <div class="slider__item slider__item_1">
       <div class="container">
         <div class="slider__wrapper">
           <div class="slider__block slider__block-left"><img src="/img/che_master.png" alt=""></div>
           <div class="slider__block slider__block-right">
             <p class="slider__title">рассрочка <span class="slider__title_background_white">по карте «черепаха»</span></p>
             <p class="slider__text">Покупайте сейчас, платите потом!</p>
             <a href="" class="button slider__button">Рассчитать ежемесячный платеж</a>
           </div>
         </div>
       </div>
     </div>
     <div class="slider__item slider__item_2">
       <div class="container">
         <div class="slider__wrapper">
           <div class="slider__block slider__block-left"><img src="/img/che_master.png" alt=""></div>
           <div class="slider__block slider__block-right">
             <p class="slider__title">рассрочка <span class="slider__title_background_white">по карте «черепаха»</span></p>
             <p class="slider__text">Покупайте сейчас, платите потом!</p>
             <a href="" class="button slider__button">Рассчитать ежемесячный платеж</a>
           </div>
         </div>
       </div>
     </div>
     <div class="slider__item slider__item_3">
       <div class="container">
         <div class="slider__wrapper">
           <div class="slider__block slider__block-left"><img src="/img/che_master.png" alt=""></div>
           <div class="slider__block slider__block-right">
             <p class="slider__title">рассрочка <span class="slider__title_background_white">по карте «черепаха»</span></p>
             <p class="slider__text">Покупайте сейчас, платите потом!</p>
             <a href="" class="button slider__button">Рассчитать ежемесячный платеж</a>
           </div>
         </div>
       </div>
     </div>
    </section>