<section class="popular">
<!--      <span class="slider-arrow"></span>-->
       <div class="block-title">
         <h2 class="title popular__title">Популярные товары</h2>
         <span class="title-shadow popular__shadow">Популярные</span>
       </div>
       <div class="popular__slider">
         <article class="popular__item card">
           <div class="card__img"><img src="img/kitchen.jpg" alt=""></div>
           <div class="card__wrapper">
             <p class="card__title"><a href="" class="card__link">«Шкаф-купе №17»</a></p>
             <p class="card__categories">Шкафы-купе</p>
             <div class="card__price price-block">
               <span class="card__cost">500</span>
               <span class="card__currency">руб</span>
             </div>
             <a href="" class="button card__button">Посмотреть</a>
           </div>
         </article>
         <article class="popular__item card">
           <div class="card__img">
           <img src="img/cat_tex.jpg" alt="">
           </div>
           <div class="card__wrapper">
             <p class="card__title"><a href="" class="card__link">Стол «Гелиос»</a></p>
             <p class="card__categories">Обеденные столы</p>
             <div class="card__price price-block">
               <span class="card__cost">520</span>
               <span class="card__currency">руб</span>
             </div>
             <a href="" class="button card__button">Посмотреть</a>
           </div>
         </article>
         <article class="popular__item card">
           <div class="card__img"><img src="img/cat_matt.jpg" alt=""></div>
           <div class="card__wrapper">
             <p class="card__title"><a href="" class="card__link">Модульная система «Город»</a></p>
             <p class="card__categories">Наборы для детской</p>
             <div class="card__price price-block">
               <span class="card__cost"> от 3500</span>
               <span class="card__currency">руб</span>
             </div>
             <a href="" class="button card__button">Посмотреть</a>
           </div>
         </article>
        <article class="popular__item card">
           <div class="card__img"><img src="img/cat_sleepset.jpg" alt=""></div>
           <div class="card__wrapper">
             <p class="card__title"><a href="" class="card__link">Модульная система «Лагуна 6»</a></p>
             <p class="card__categories">Спальные гарнитуры</p>
             <div class="card__price price-block">
               <span class="card__cost">500</span>
               <span class="card__currency">руб</span>
             </div>
             <a href="" class="button card__button">Посмотреть</a>
           </div>
         </article>
         <article class="popular__item card">
           <div class="card__img">
             <img src="img/cat_sleep.jpg" alt="">
           </div>
           <div class="card__wrapper">
             <p class="card__title"><a href="" class="card__link">«Шкаф-купе №17»</a></p>
             <p class="card__categories">Шкафы-купе</p>
             <div class="card__price price-block">
               <span class="card__cost">500</span>
               <span class="card__currency">руб</span>
             </div>
             <a href="" class="button card__button">Посмотреть</a>
           </div>
         </article>
       </div>
     </section>