$grey: #ecedef;
$titlegrey: #e1e2e4;
$textgrey: #f3f3f3;
$dgrey: #8b989d;
$red: #b40404;
$black: #313035;
$bt: #212121;
$mr: 'Montserrat Regular';
$mm: 'Montserrat-Medium';
$ml: 'Montserrat-Light';
$mb: 'Montserrat-ExtraBold';
$red-gr:  linear-gradient(to right, rgba(180,4,4,1) 0%, rgba(180,4,4,1) 64%, rgba(231,56,39,1) 100%);
