$grey: #ecedef;
$titlegrey: #e1e2e4;
$textgrey: #f3f3f3;
$dgrey: #8b989d;
$red: #b40404;
$mr: 'Montserrat Regular';
$mm: 'Montserrat-Medium';
$ml: 'Montserrat-Light';
$mb: 'Montserrat-ExtraBold';
$red-gr: linear-gradient(to right, rgba(215,53,52,1) 0%, rgba(226,107,106,1) 100%);
