@font-face {
font-family: 'Playfair Display Bold';
src: url('../fonts/PlayfairDisplay-Bold.eot');
src: url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
